
:root {
	--sl-color-accent-low: #1e223a;
	--sl-color-accent: #565fb7;
	--sl-color-accent-high: #b5c3ff;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c6c8ce;
	--sl-color-gray-3: #a0a4ae;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: #24272f;
	--sl-color-black: #17181c;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #d0d5ee;
	--sl-color-accent: #2d2e82;
	--sl-color-accent-high: #292e55;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
}

html[data-theme="dark"] {
	& .site-title > img {
		/* make the logo white in dark mode */
		filter: saturate(0) invert(1);
	}
}

.site-title {
	
	display: flex;
	align-items: center;

	& img {
		max-width: 195px;
		margin-bottom: -3px;
	}

	& span { 
		font-weight: 500;
		padding-bottom: 1px;
	}
}

.hero {
	display: flex;
	padding: 2rem 0;
}
